@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,400;1,500;1,700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
*::before,*::after{
    box-sizing: border-box;
}
.container{
    padding: 1.5rem 5rem;
}
.flex-box{
    display: flex;
}

        /*Start Heading Styles */

header{
    background: #5E17EB;
    align-items: center;
    justify-content: space-between;
}
.head-nav ul{
    list-style: none;
    gap: .5rem;
}

.head-nav ul li a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    transition: .2s ease;
}
.head-nav ul li a:hover,.svg1:hover{
    color: rgba(243, 243, 41, 0.815);
    /* fill: black; */
}
.drop{
    margin-left: .5rem;
    margin-bottom: 1px;
    line-height: -1;
}
.svghover{
    transition: fill .2s ease;
    fill: rgba(243, 243, 41, 0.815);
}
.fa-cart-shopping{
    color: white;
    transition: all .2s ease;
}
.fa-cart-shopping:hover{
    color: rgba(175, 175, 171, 0.815);
}
.cart{
    color: white;
    display: inline-block;
    position: relative; 
    padding: 15px 15px; 
}
.button_badge{
    background-color: #fa3e3e;
    border-radius: 3px;
    color: white;
    padding: 1px 4px;
    font-size: 10px; 
    position: absolute;
    top: 0;
    right: 0;
}

        /* End Heading Styles */

        /* Start Section 1 Styles */
.top-section{
    background: #5E17EB;
    height: 1420px;
    position: relative  ;
    box-sizing: border-box;
}
.textside{
    color: white;
}
.textside h1{
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
}
.textside .influencer{
    font-size: 4rem;
    letter-spacing: .25rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
.bigsvg{
    box-sizing: border-box;
 }
.textside p{
    font-size: 50%;
    font-family: 'Roboto',sans-serif;
    font-weight: lighter;
    line-height: 2.5;
    letter-spacing: .1rem;
}
.offerbtn{
    padding: .2rem 2rem;
    font-size: 1.9rem;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    background-color: #F7D460;
    border: 1px solid #F7D460 ;
    border-radius: 50px;
    color: #323C5C;
    transition: .2s;
}
.offerbtn:hover{
    color: whitesmoke;
    background-color: transparent;
}
.sec1full{
    align-items: center;
    position: relative;    
    box-sizing: border-box;
    width: 100%;
    top: 153px;
}

.bigvector{
    position: absolute;
    right: -6.5%;
    top: -54px;
    height: 394px;
    width: 985px;
}
 .imgover{
    position: absolute;
    top: -51%;
    right: 0%;
}
.box1 img{
  height: 14px;
  width: 14px;
  fill: #323C5C;
}
.box2 img{
  height: 14px;
  width: 14px;
  fill: #323C5C;
}
.box3 img{
  height: 14px;
  width: 14px;
  fill: #323C5C;
}
.boxhead{
  width: 20rem;
  justify-content: space-between;
  margin: 0;
  padding: 1.4rem 2rem;
  align-items: center;
  background-color: whitesmoke;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.boxhead p{
  font-size: 1.2rem;
  font-weight: 1000;
  color: #323C5C;
}
.box-contents1 img{
  height: 252px;
  width: 290px;
}
.box-contents2 img{
  height: 220.11px;
  width: 290px;
}
.box-contents3 img{
  height: 165px;
  width: 290px;
}
.box-contents1{
  width: 24rem;
  height: 348.06px;
  background-color: #1792EB;
  text-align: center;
  margin: 0 ;
  display: grid;
  place-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  transition: .4s ease;
}
.box-contents2{
  position: absolute;
  width: 24rem;
  height: 348.06px;
  background-color: #EB17B0;
  text-align: center;
  margin: 0 ;
  display: grid;
  place-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: .4s ease;
}
.box-contents3{
  position: absolute;
  width: 24rem;
  height: 348.06px;
  background-color: #F7D460;
  text-align: center;
  margin: 0 ;
  display: grid;
  place-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: .4s ease;
}
.sec2{
  gap: 20px;
  position: relative;
  transform: translateY(24rem);
  justify-content: space-around;
}
.box2{
  position: relative;
  top: 125px;
  z-index: 99;
}
.box3{
  position: relative;
  top: 250px;
}
.height{
  height: 400px;
}
.arrow{
  position: relative;
  top: 1040px;
  /* bottom: 10px; */
  text-align: center  ;
  z-index: 999;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
.arrow img{
  height: 30px;
  width: 30px;
  filter: saturate(100%);
  filter: brightness(100%);
  filter: invert(1);
  position: absolute;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all .2s ease;
}

        /* End Section 1 Styles */

        /* Start Section 2 Styles */

.sec2heading{
  text-align: center;
  color: #323C5C  ;
  margin-top: 10rem;
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
}
.items{
  justify-content: space-evenly;
  /* gap: 10px; */
}
.item1{
  max-width: 290px;
  margin: 0%;
  /* justify-content: space-around; */
  transition: all 1s ease;
  /* border-radius: 30px; */
}
.item1 img{
  border-radius: 10px;
  transition: all .4s ease;
  max-width: 290px;
}
.itemdetails p{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: .85rem;
    color: #323C5C;
    margin-top: 5px;
    margin-bottom: 5px;
}
.itemdetails span{
  color: #323C5C;
}
.box-shadow{
  box-shadow: 0rem 0rem 2rem 5px rgb(212, 205, 205);
}
/* .items{
  justify-content: space-evenly;
} */
.width{
  width: 25rem !important;
}
.purchase-details{
  height: 100%;
  width: 0rem;
  position: fixed;
  /* z-index: -2; */
  overflow-y: scroll;
  top: 0;
  right: 0px;
  background-color: whitesmoke;
  /* overflow-x: hidden; */
  transition: 0.5s;
  /* padding-top: 60px; */
  /* text-align: center; */
}
.inboximg{
  text-align: center;
  /* width: 320px; */
  transition: 0.5s;
  max-width: 320px;
}
.inboximg img{
  border-radius: 10px;
  transition: 0.5s;
  /* text-align: center; */
}
.smallimg{
  display: flex;
  justify-content: space-between;
  width: 320px;
  /* gap: 10px; */
  transition: 0.5s;
}
.smallimg img{
  height: 70px;
  width: 70px;
  border-radius: 5px;
  transition: 0.5s;
}
.smallcontainer{
  padding: 2rem 2rem;
  display: grid;
  justify-content: center;
  box-sizing: border-box;
}
.smallimg1{
  margin-top: 10px;
  display: grid;
  place-items: center;
  transition: 0.5s;
  /* width: ; */
}
.prdctdetails{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #323C5C;
  margin-top: 10px;
  transition: 0.5s;
  /* margin-bottom: 5px; */
  width: 320px;
}
/* .prdctdetails span{
  margin-left: 4px;
} */
.prdctdetails .inboxhead{
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 5px;
  font-weight: bolder;
  transition: 0.5s;
  /* margin: 5px 8px; */
}
.description{
  color: #323C5C;
}
.description h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder; 
  margin: 15px 0px;

}
.Fileinc{
  color: #323C5C;
}
.Fileinc h3{
  margin-top: 15px;
}
.Fileinc ul{
 font-size: .9rem;
  margin: 15px 30px;
}
.description,.Fileinc,.howit{
  transition: 0.5s;
  max-width: 320px;
}
.howit h3{
  color: #323C5C;
}
.howit ul{
  font-size: .9rem;
   margin: 15px 30px;
   color: #323C5C;
 }
 .purchase-details a{
  color: #323C5C;
  text-decoration: none;
  font-size: 30px;
  padding: 1rem;
  position: relative;
  top: 1rem;
 }
 .rating img{
  height: 13.33px;
  width: 13.33px;
  /* max-width: 5px; */
  /* margin-top: 1rem; */
 }
 .rating span{
  font-size: 13px;
  color: #5E17EB;
  font-weight: 600;
  margin-left: 10px;
 }
 .rating{
  display: flex;
  /* max-width: 15rem; */
  gap: 5px;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 1rem;
 }
 .buynow{
  padding: 1rem;
  border: 0px solid transparent;
  transition: .2s;
  margin: 1.5rem 0px;
  width: 100%;
  border-radius: 2rem;
  background-color: #F7D460;
  font-size: .9rem;
  font-weight: 600;
  color: #323C5C;
  border: 1px solid black;
 }
 .buynow:hover{
  background-color: #5E17EB;
  color: whitesmoke;
 }